---
---

$primary-font: monospace;
$clock-font: 'Source Code Pro';
$type-font: 'Source Code Pro';

body {
	transition: color 0.2s;
	transition: background-color 1s;
	font-family: $primary-font;
}

button {
	transition: opacity 0.2s;
	transition: border-color 0.2s;
}

button:hover {
	opacity: 0.7;
	transition: opacity 0.2s;
}

.container {
	margin-top: 15%;
}

.main {
	margin-bottom: 5rem;
}

a:hover {
	opacity: 0.7;
}

[class^="icon-"], [class*=" icon-"] {
	font-size: 150%;
}

.status {
	border-left: 2px solid;
	transition: border-left-color 0.2s;
	padding-left: 2rem;
	margin-bottom: 3rem;
}

#clock {
	font-family: $clock-font;
	font-size: 8rem;
	padding: 0;
	margin: 0;
}

#type {
	text-transform: uppercase;
	font-family: $type-font;
	font-size: 4rem;
}

.hidden {
	display: none;
}

.info {
	font-size: 2rem;
}

#footer {
	opacity: 0.5;
}
