@import '../../node_modules/skeleton-scss/scss/skeleton';

// fonts
$primary-font: 'Roboto Mono';
$clock-font: 'Roboto';
$type-font: $clock-font;
$monospace: $primary-font;

// colors
$white: #fff;
$black: #000;
$grey: #555;
$light-grey: #616161;
$dark-grey: #424242;
$darker-grey: #212121;
$teal: #29a69a;
$dark-green: #070;
// colors for different UI elements
$button-color: rgb(66, 66, 66);
$card-action-link-color: #ffab40;

body {
  color: $white;
  font-family: $primary-font;
  font-size: 2.1rem;
  transition: color .2s, background-color 1s;
}

footer a {
  color: $dark-green;

  &:hover, &:focus {
    color: $dark-green;
    font-style: italic;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

ul {
  list-style-type: disc;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
}

p {
  margin: 0;
}

input {
  color: $grey;
  font-family: $monospace;
}

.container {
  margin-bottom: 2rem;
  margin-top: 30vmin;
}

.main {
  margin-bottom: 5rem;
}

.material-icons {
  display: inline;
  font-size: 200%;
  line-height: .8;
  margin: 0;
  padding: 0;
}

.btn .material-icons,
button .material-icons {
  font-size: 250%;
}

.status {
  border-left: 2px solid;
  margin-bottom: 3rem;
  padding-left: 2rem;
  transition: border-left-color .2s;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.reduced-opacity {
  opacity: .7;
}

#clock {
  font-family: $clock-font;
  font-size: 10rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

#type {
  font-family: $type-font;
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
}

// The following styles have been lifted from Materialize CSS, with some changes.

.btn {
  border: 0;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  height: 5rem;
  letter-spacing: .5px;
  line-height: 5rem;
  outline: 0;
  padding: 0 2rem;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .2s ease-out;
  vertical-align: middle;

  i {
    line-height: inherit;
  }

  &:hover {
    background-color: transparentize($white, .7);
    color: $white;
  }

  &:focus {
    background-color: transparentize($black, .9);
    color: $white;
  }
}

.btn-colored {
  background-color: $button-color;

  &:hover {
    background-color: $button-color * 2;
  }

  &:focus {
    background-color: $button-color / 2;
  }
}

.btn-shadow {
  box-shadow: 0 1px 2px 0 transparentize($black, .25);
}


// Cards

.card {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 transparentize($black, .84), 0 2px 10px 0 transparentize($black, .88);
  color: $dark-grey;
  margin: 0 0 4rem;
  position: relative;
  transition: box-shadow .25s;

  .card-title {
    font-size: 24px;
    font-weight: 300;
  }

  .card-content {
    border-radius: 0 0 2px 2px;
    color: inherit;
    margin: 0;
    padding: 20px;
    text-align: justify;

    input[type="number"] {
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid $grey;
      border-radius: 0;
      display: inline-block;
      margin-bottom: .5rem;
      outline: 0;
      width: 9rem;
    }

    .card-title {
      line-height: 48px;
    }
  }

  .card-action {
    border-top: 1px solid transparentize($light-grey, .8);
    padding: 20px;

    a:not(.btn):not(.btn-large):not(.btn-floating) {
      color: $card-action-link-color;
      margin-right: 20px;
      text-transform: uppercase;
      transition: color .3s ease;

      &:hover {
        color: transparentize($card-action-link-color, .4);
        pointer: cursor;
      }
    }
  }
}


// A .switch-icon is colored when enabled, uncoloured when disabled.

.switch-icon label {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;

  input[type=checkbox] {
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    width: 0;

    &:checked ~ .material-icons {
      color: $teal;

      &.inverted::before {
        color: inherit;
      }
    }

    &:not(:checked) ~ .material-icons.inverted::before {
      color: $teal;
    }
  }
}
